- if notice
  %aside#notice= notice
%h1 Choose payment method

- if @order['reject_reason'] != nil
  .failure_wrapper
    %h2 Be aware that previous payment attempt resulted in a failure
    %p= @error_msg.html_safe
.payment_type_wrapper
  .payment_box
    %h2.payment_type= "Pay using<br>Secure Web Page".html_safe

    %form#secure_web_page{"accept-charset" => "UTF-8", action: "https://sandbox.espago.com/secure_web_page", method: "post"}
      %input{name: "api_version", type: "hidden", value: "3"}/
      %input{name: "app_id", type: "hidden", value: @app_id.to_s }/
      %input{name: "kind", type: "hidden", value: "sale"}/
      %input{name: "session_id", type: "hidden", value: "#{@session_id}"}/
      %input{name: "amount", type: "hidden", value: @amount.to_s }/
      %input{name: "currency", type: "hidden", value: "PLN"}/
      %input{name: "title", type: "hidden", value: "payment_id:#{@order['id']}"}/
      %input{name: "description", type: "hidden", value: "order:#{@order['id']}"}/
      %input{name: "ts", type: "hidden", value: "#{@ts}"}/
      %input{name: "checksum", type: "hidden", value: "#{@checksum}"}/
      %input{name: "positive_url", type: "hidden", value: ::ESPAGO_RETURN_POSITIVE_URL}
      %input{name: "negative_url", type: "hidden", value: ::ESPAGO_RETURN_NEGATIVE_URL}
      %button.continue{name: "continue", type: "submit"}= t('.continue')

  .payment_box
    %h2.payment_type Pay using iFrame
    #iframe
      %button.continue{type: "submit", onclick: "showEspagoFrame()"}= t('.continue')
      %form#espago_form{"accept-charset" => "UTF-8", action: "/charge_client", method: "post"}
        -# CR: [matik] To jest masakryczny security breach, nie powinno tak być
        -# powinieneś tylko i wyłącznie przekazywać sobie z tego formularza token karty
        -# i resztę parametrów dokładać na backendzie
        -#
        -# Ktoś podczas płatności może zmienić z łapy input `amount` w HTML
        -# na mniejszą wartość i zapłaci mniej, a w bazie będziesz myślał, że
        -# zapłacił całość!!
        -#
        -# Dajesz ludziom promocje, że mogą sobie zapłacić za towar ile chcą jak umieją
        -# edytować HTML. Co ktoś tu wpisze, to do nas wyślesz.
        -#
        -# SecureWebPage nie ma takiego problemu, bo masz `checksum`, który może być poprawnie
        -# wyliczony tylko na serwerze, więc edycja pół formularza skutkuje niepoprawnym checksum i odrzuceniem requesta przez Espago.
        -#
        -# Ten formularz powinien być pusty, bez inputów
        %input{name: "amount", type: "hidden", value:@amount.to_s}
        %input{name: "currency", type: "hidden", value: "pln"}
        %input{name: "description", type: "hidden", value: "order:#{@order['id']}"}
        %input{name: "positive_url", type: "hidden", value: ::ESPAGO_RETURN_POSITIVE_URL}
        %input{name: "negative_url", type: "hidden", value: ::ESPAGO_RETURN_NEGATIVE_URL}

%div
  %h4 Cards:
  %ul
    %li 4242424242424242 none
    %li 4012000000020006 3ds
    %li 4012888888881881 3ds+edcc
    %li 4242421111112239 edcc