- if notice
  %p#notice= notice
%p
  %strong Name:
  = @order.name
%p
  %strong Address:
  = @order.address
%p
  %strong Email:
  = @order.email
%p
  %strong Pay type:
  = @order.pay_type
%p
  %strong Payment status:
  = @order.payment_status
%p
  %strong Rejection reason:
  = @order.reject_reason
%p
  %strong Issuer Response Code:
  = @order.issuer_response_code
= link_to 'Edit', edit_order_path(@order)
|
= link_to 'Back', orders_path
